[submodule "moose"]
	path = moose
	url = https://github.com/BhallaLab/moose
        ignore = dirty
[submodule "moogli"]
	path = moogli
	url = https://github.com/BhallaLab/moogli
        ignore = dirty
[submodule "external/hdf5"]
	path = external/hdf5
	url = https://github.com/BhallaLab/hdf5
        ignore = dirty
[submodule "external/gsl"]
	path = external/gsl
	url = https://github.com/BhallaLab/gsl
        ignore = dirty
[submodule "moose-examples"]
        ignore = dirty
	path = moose-examples
	url = https://github.com/BhallaLab/moose-examples
